     body {
        margin: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
    }

    span.k-textbox {
        width: 100%;
    }

    .k-icon.k-i-preview {
        position: absolute;
        bottom: 2px;
        right: 5px;
        width: 24px;
        height: 24px;
        color:rgb(73, 28, 197);
    }
    #logo-wrapper{
        margin-top:0px;  
    }
    #logo {
        display: flex;
        justify-content: center;
        
    }
    #banner {
        height: 170px;
        color:#2727BE;
        font-weight: 300;
        font-size: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #account{
        position: relative;
        height: 20px;
        left: 20px;
        margin:30px 0px 20px 80px;
        font-size: 18px;
    }

    #account>a {
        margin-left: 16px;
        color:#0058E9;
    }

    #forgot{
        height: 20px;
        margin:20px 0px 20px 0px;
        font-size: 18px;
    }

    #forgot>a {
        margin-left: 10px;
        color:#0058E9;
    }

    #sign-in-page {
        position: relative;
        height: 100vh;
        display: flex;
        background: linear-gradient(50deg, #070B46 45%, #2D2DD3 100%);
    }
    #push{
        display: flex;
        justify-content: center;
    }
    
    #sign-in-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        min-width: 600px;
        width: 90%;
        z-index: 1;
        background: #FFFFFF;
    }

    #login {
        height: 202px;
        width: 270px;
        display: flex;
        flex-flow: column;
    }
    #signup{
        display: flex;
    }
    div.k-form-field:nth-child(3) {
        display: flex;
    }
    #RememberMe-form-label {
        order: 1;
        padding-left: 0.8em;
    }
    .k-form-field-wrap {
        position: relative;
    }

    .k-button{
        height: 42px;
        width: 270px;
        background:#FF6358;
        color: #FFFFFF;
    }
    .k-button:hover{
        height: 42px;
        width: 270px;
        background:#fa7f76;
        color: #FFFFFF;
    }
    
    #image-wrapper img {
        width: 100%;
    }